*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{

    font-family: 'Poppins', sans-serif;

}
.hide
{
    background-color:rgb(240, 235, 215);
}
.bg
{
    position:fixed;
    height:100%;
    width:100%;
    background-color: rgb(240, 235, 215);
    z-index:-1;
}


.container
{
    background-color:rgb(230, 216, 204);
 
    height: 70vh;

    margin-left:15vw;
    top:15vh;
    position:absolute;
    box-shadow: 2px 2px 4px gray;
}

.row
{
    position:relative;
    font-size:20px;
}
.row1
{
    display:flex;
    margin-left:50px;
}
.label
{
    margin-top:20px;
    margin-left:20px;
    float: left;

    padding: 3px;
    background-color:rgb(29, 139, 141);
    color:rgb(199, 233, 235);

    text-align:center;
    border-radius: 30px;
}

.labelB
{
    display: none;
}
.data
{
    margin-top:20px;
    margin-left:20px;
    margin-right: 4px;
    float: left;
    
    padding: 3px;
    background-color:rgb(230, 242, 243);
    color: rgb(16, 82, 83);

    text-align:center;
    border-radius: 30px;
}
.data1
{
    margin-top:20px;
    margin-left:25px;
    background-color:rgb(230, 242, 243);
    color: rgb(16, 82, 83);
    text-align:center;
    border-radius: 30px;
    height:100px;
    padding-top:10px;
}
.circle
{
    width:300px;
    height:300px;
    background-color:rgb(230, 216, 204);

    position:absolute;
    z-index:0;
    border-radius:50%;
    right:18vw;
    top:3vh;

}

img
{
    width:250px;
    height:250px;
    border-radius: 50%;
    position:absolute;
    right:20vw;
    top:5vh;
    z-index:3;
    box-shadow: 2px 2px 8px gray;
}
.row2
{
    z-index:4;
    text-align:center;
    line-height: 150px;
    font-size:80px;
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.circle1
{
    width:150px;
    height:150px;
    border-radius: 50%;
    background-color: rgb(189, 138, 124);
}
.circle2
{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: 50px;
    background-color: rgb(106, 155, 135);
}
.circle3
{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: 50px;
    background-color: rgb(233, 188, 148);
}
.text
{
    display:flex;
}
.containerText
{
    background-color: rgb(230, 216, 204);
    height: 250px;
    margin-left:-15px;
    margin-top:-50px;
    margin-bottom: 15vh;
    z-index:-1;
    position:absolute;
    box-shadow: 2px 2px 4px gray;
 
    padding-top:60px;
    text-align:center;
    align-items:center;
}
.containerText2
{
    background-color: rgb(230, 216, 204);
    height: 250px;
    margin-left:20px;
    margin-top:-50px;
    margin-bottom: 15vh;
    z-index:-1;
    position:absolute;
    box-shadow: 2px 2px 4px gray;

    padding-top:60px;
    text-align:center;
    align-items:center;
}
.containerText3
{
    background-color: rgb(230, 216, 204);
    height: 250px;
    margin-left:20px;
    margin-top:-50px;
    margin-bottom: 15vh;
    z-index:-1;
    position:absolute;
    box-shadow: 2px 2px 4px gray;
    padding-top:60px;
    text-align:center;
    align-items:center;
}
h2
{
    text-transform: uppercase;
}
.divide
{
    height:30px;
}
.school
{
    font-size: 15px;
}
.year
{
    font-size: 12px;
}
@media screen and (min-width: 320px) and (min-height: 480px) {
}